[preset.0]

name="Android"
platform="Android"
runnable=true
advanced_options=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="build/corre-pro-ponto.aab"
patch_list=PackedStringArray()

[preset.0.options]

custom_template/debug=""
custom_template/release=""
architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=false
keystore/debug=""
keystore/debug_user=""
keystore/debug_password=""
keystore/release="../corre-pro-ponto.keystore"
keystore/release_user="correpro"
keystore/release_password=""
version/code=1
version/name="1.0.0"
version/min_sdk=26
version/target_sdk=35
package/unique_name="com.arena.correponto"
package/name="Corre pro Ponto"
package/signed=true
package/classify_as_game=true
screen/orientation=1
screen/immersive_mode=true
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
user_data_backup/allow=false
graphics/32_bits_framebuffer=true
permissions/internet=true
permissions/access_network_state=true
launcher_icons/main_192x192="res://assets/art/icon.svg"
launcher_icons/adaptive_foreground_432x432="res://assets/art/icon.svg"
launcher_icons/adaptive_background_432x432="res://assets/art/icon.svg"
# Lote 13: Plugins (adicionar após instalar via Godot AssetLib / export > Plugins):
#   - GodotPlayGameServices (sign-in + snapshots <50KB)  -> id: godot-play-gameservices
#   - GodotGooglePlayBilling 6.x (billing packs + remove_ads) -> id: godot-google-play-billing
#   - Google Mobile Ads (banner/interstitial/rewarded) -> id: admob
#   - In-App Review (Play Core) -> id: godot-inapp-review
#   So adicionar em Project > Export > Android > Plugins e refazer AAB. Mock continua no editor.


[preset.1]

name="Desktop"
platform="Linux/X11"
runnable=true
advanced_options=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="build/corre-pro-ponto.x86_64"
patch_list=PackedStringArray()

[preset.1.options]

custom_template/debug=""
custom_template/release=""
debug/export_console_script=false
binary_format/architecture="x86_64"
